<% layout('dashboard') %>
<!--user activity stats start -->
<div class="large-3 medium-12 small-12 columns">
  <div class="panel info-box panel-white">
    <div class="panel-body">
      <div class="info-box-stats">
        <p class="counter">107,200</p>
        <span class="info-box-title">User activity this month</span>
      </div>
      <div class="info-box-icon">
        <i class="icon-people"></i>
      </div>
      <div class="info-box-progress">
        <div class="progress large-12 success radius round">
          <span class="meter" style="width: 80%"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--user activity stats end -->

<!--page views stats -->
<div class="large-3 medium-12 small-12 columns">
  <div class="panel info-box panel-white">
    <div class="panel-body">
      <div class="info-box-stats">
        <p class="counter">340,230</p>
        <span class="info-box-title">Page views</span>
      </div>
      <div class="info-box-icon">
        <i class="icon-eye"></i>
      </div>
      <div class="info-box-progress">
        <div class="progress large-12 danger radius round">
          <span class="meter" style="width: 30%"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--page views stats end -->

<!--revenue stats start -->
<div class="large-3 medium-12 small-12 columns">
  <div class="panel info-box panel-white">
    <div class="panel-body">
      <div class="info-box-stats">
        <p>$<span class="counter">653,000</span></p>
        <span class="info-box-title">Monthly revenue goal</span>
      </div>
      <div class="info-box-icon">
        <i class="icon-basket"></i>
      </div>
      <div class="info-box-progress">
        <div class="progress large-12 warning radius round">
          <span class="meter" style="width: 60%"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--revenue stats end -->

<!--emails stats -->
<div class="large-3 medium-12 small-12 columns">
  <div class="panel info-box panel-white">
    <div class="panel-body">
      <div class="info-box-stats">
        <p class="counter">47,500</p>
        <span class="info-box-title">New emails recieved</span>
      </div>
      <div class="info-box-icon">
        <i class="icon-envelope"></i>
      </div>
      <div class="info-box-progress">
        <div class="progress large-12 warning radius round">
          <span class="meter" style="width: 95%"></span>
        </div>
      </div>
    </div>            
  </div>
</div>
<!--email stats end -->
<%  include event-stats %>
