<div class="promotion">
  <div class="row">
    <div class="promote">
      <div class="content">
        <h2 class="title"><span>Open Your Account Today</span></h2>
        <div class="clearfix"></div>
        <p>
          Authoritatively repurpose cross-media technologies rather than front-end communities. Efficiently implement professional schema after diverse results.
        </p>
        <a class="large button cta" href="">Sign Up / Register Today </a>
      </div>
    </div>
  </div>
</div>
