<div class="upcoming">
  <div class="row">
    <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-1" data-equalizer>
      <li>
        <div class="event-container" data-equalizer-watch>
          <div class="event icon-box bg add_bg_hover">
            <div class="eventsicon">
              <i class="fa fa-heart-o"></i>
            </div><div class="event-content">
              <h2 class="title">7/24 Everytime Event</h2><p>Professionally e-enable exceptional partnerships and cross-media data.[...] </p></div>
          </div>
        </div>
      </li>
      <li>
        <div class="event-container" data-equalizer-watch>
          <div class="event icon-box bg add_bg_hover">
            <div class="eventsicon">
              <i class="fa fa-calendar-o"></i>
            </div><div class="event-content">
              <h2 class="title">24+ Events Location</h2><p>Professionally e-enable exceptional partnerships and cross-media data.[...] </p></div>
          </div>
        </div>
      </li>
      <li>
        <div class="event-container" data-equalizer-watch>
          <div class="event icon-box bg add_bg_hover">
            <div class="eventsicon">
              <i class="fa fa-umbrella"></i>
            </div><div class="event-content">
              <h2 class="title">44+ Speakers</h2><p>Professionally e-enable exceptional partnerships and cross-media data.[...] </p></div>
          </div>
        </div>
      </li>
      <li>
        <div class="event-container" data-equalizer-watch>
          <div class="event icon-box bg add_bg_hover">
            <div class="eventsicon">
              <i class="fa fa-star-o"></i>
            </div><div class="event-content">
              <h2 class="title">7+ Party After Events</h2><p>Professionally e-enable exceptional partnerships and cross-media data.[...] </p></div>
          </div>
        </div>
      </li>
      <li>
        <div class="event-container" data-equalizer-watch>
          <div class="event icon-box bg add_bg_hover">
            <div class="eventsicon">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </div><div class="event-content">
              <h2 class="title">24+ Events Location</h2><p>Professionally e-enable exceptional partnerships and cross-media data.[...] </p></div>
          </div>
        </div>
      </li>
      <li>
        <div class="event-container" data-equalizer-watch>
          <div class="event icon-box bg add_bg_hover">
            <div class="eventsicon">
              <i class="fa fa-road" aria-hidden="true"></i>
            </div>
            <div class="event-content">
              <h2 class="title">24+ The Roadtrip Events</h2><p>Professionally e-enable exceptional partnerships and cross-media data.[...] </p></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
