<div class="call-to-action">
  <div class="content">
    <h1>
      Get Ready for The Next Event. Its Beginning 
    </h1>
    <div class="clearfix"></div>
    <p>
      Authoritatively repurpose cross-media technologies rather than front-end communities. Efficiently implement professional schema after diverse results.
    </p>
    <a class="large button cta" href="">Get Started Today</a>
  </div>
</div>
