<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Swahili Box</title>
  <link rel="stylesheet" href="/bower_components/foundation/css/normalize.min.css" media="all" />
    <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
    <!-- load fontawesome -->
  <link rel="stylesheet" href="/bower_components/lato/css/lato.css" media="all" />
  <link rel="stylesheet" href="/bower_components/simple-line-icons/css/simple-line-icons.css" media="all" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" media="all" />
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.min.css" media="all" /> 
    <link rel="stylesheet" href="/css/fonts/font.css" media="all" /> 
    <link rel="stylesheet" href="/css/dashboard.css" media="all" /> 
