<footer>
  <div class="footer-top">
    <div class="wrapper">
      <div class="row collapse">
        <div class="footer-top-container">
          <div class="large-2 medium-12 small-12 columns">
            <a href="#" class="logo" title="eventr"><span>eventr</span></a>
          </div>
          <div class="large-2 medium-12 small-12 columns">
              <div class="footer-headline">
                <h2>Latest Events</h2>
              </div>
          </div>
          <div class="large-5 medium-12 small-12 columns">
            <div class="events-ticker">
              <ul class="example-orbit-content" data-orbit>
                <li data-orbit-slide="headline-1">
                  <div class="event-title">
                    <p>7/24 Everytime Event</p>
                  </div>
                </li>
                <li data-orbit-slide="headline-2">
                  <div class="event-title">
                    <p>Swahilibox in partnership with Google & Microsoft </p>
                  </div>
                </li>
                <li data-orbit-slide="headline-3">
                  <div class="event-title">
                    <p>Swahilibox gets Indigo Fundend </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="large-3 medium-12 small-12 columns">
            <a href="/" class="large button cta" title="Get started with us" >Get Started with
              Eventr </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper footer-wrapper">	
    <footer class="clearfix container" role="contentinfo">
      <nav class="footer-nav">
        <ul>
          <li><a title="Home" href="#">Home</a></li>
          <li><a title="About" href="#">About</a></li>
          <li><a title="Our software" href="#"></a></li>
          <li><a title="Our services" href="#">Our services</a></li>
        </ul>
        <ul>
          <li><a title="Our Blog" href="#">Our Blog</a></li>
          <li><a title="Contact us" href="#">Contact us</a></li>
          <li><a title="Login" href="#" target="_blank">Login</a></li>
          <li><a title="Privacy Policy" href="#">Privacy Policy</a></li>
        </ul>				
      </nav>
      <div class="footer-engage">
        <p>Subscribe to our newsletter for regular updates</p>
        <form class="sign-up-form" action="#" method="post" novalidate="novalidate">
          <div class="row collapse right">
            <div class="small-8 medium-8 columns">
              <input id="fieldEmail" name="email" type="email" placeholder="signup@example.com">
            </div>
            <div class="small-4 medium-4 columns">
              <input type="submit" href="#" class="postfix button" value="Sign Up">
            </div>
          </div>
        </form>
        <div class="footer-social">
          <ul class="social-links">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">
        Copyright &copy; 2016 <a href="#" title="eventr">eventr™</a>. All rights reserved.<br>
        Use of this site indicates your acceptance of these <a href="/terms/">Terms of Use</a>. View our <a href="/privacy/">Privacy Policy</a>.
      </p>
    </footer>
  </div>
</footer>
