<!doctype html>
<html>
<head>
    <title>Swahili Box</title>
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.min.css" media="all" /> 
    <!-- load fontawesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" media="all" /> 
    <link rel="stylesheet" href="/css/fonts/font.css" media="all" /> 
    <link rel="stylesheet" href="/css/app.css" media="all" /> 
