<!doctype html>
<html>
<head>
    <title>Swahili Box</title>
    <link rel="stylesheet" href="/css/foundation.css" media="all" /> 
    <!-- load fontawesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> </head>
    <link rel="stylesheet" href="/css/fonts/font.css" media="all" /> 
    <link rel="stylesheet" href="/css/app.css" media="all" /> 
