<div class="contain-to-grid-sticky row collapse  fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <div class="large-2 columns title-container">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/admin">Dashboard</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
    </div>
    <div class="large-10 columns">
      <section class="top-bar-section">
        <ul class="left">
          <li>
            <a href="#" class="sidebar-toggle"><i class="fa fa-bars"></i></a>
          </li>
          <li>
            <a href="#cd-nav" class="cd-nav-trigger"><i class="fa fa-diamond"></i></a>
          </li>
          <li>
            <a href="#" class="toggle-fullscreen"><i class="fa fa-expand"></i></a>
          </li>
          <li>
            <a href="#" class="dropdown-toggle" >
              <i class="fa fa-cogs"></i>
            </a>
          </li>
        </ul>
        <ul class="right">
          <li><a href="#" class="show-search"><i class="fa fa-search"></i></a></li>
          <li class="has-dropdown">
            <a href="#"><i class="fa fa-envelope"></i><span class="badge badge-success pull-right">4</span></a>
            <ul class="dropdown drop-container">
              <li><p class="title">You have 4 new  messages !</p></li>
              <li class="sender-details">
                <ul class="unstyled">
                  <li>
                    <a href="#">
                      <div class="msg-img"><div class="online on"></div><img class="img-circle"
                            src="../images/user.png" alt=""></div>
                        <p class="msg-name">Sandra Smith</p>
                        <p class="msg-text">Hey ! I'm working on your project</p>
                        <p class="msg-time">3 minutes ago</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="msg-img"><div class="online on"></div><img class="img-circle" src="../images/user.png" alt=""></div>
                          <p class="msg-name">Sandra Smith</p>
                          <p class="msg-text">Hey ! I'm working on your project</p>
                          <p class="msg-time">3 minutes ago</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="msg-img"><div class="online on"></div><img class="img-circle"
                                src="../images/user.png" alt=""></div>
                            <p class="msg-name">Sandra Smith</p>
                            <p class="msg-text">Hey ! I'm working on your project</p>
                            <p class="msg-time">3 minutes ago</p>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="msg-img"><div class="online on"></div><img class="img-circle"
                                  src="../images/user.png" alt=""></div>
                              <p class="msg-name">Sandra Smith</p>
                              <p class="msg-text">Hey ! I'm working on your project</p>
                              <p class="msg-time">3 minutes ago</p>
                            </a>
                          </li><li>
                            <a href="#">
                              <div class="msg-img"><div class="online on"></div><img class="img-circle"
                                    src="../images/user.png" alt=""></div>
                                <p class="msg-name">Sandra Smith</p>
                                <p class="msg-text">Hey ! I'm working on your project</p>
                                <p class="msg-time">3 minutes ago</p>
                              </a>
                            </li><li>
                              <a href="#">
                                <div class="msg-img"><div class="online on"></div><img class="img-circle" src="../images/user.png" alt=""></div>
                                  <p class="msg-name">Sandra Smith</p>
                                  <p class="msg-text">Hey ! I'm working on your project</p>
                                  <p class="msg-time">3 minutes ago</p>
                                </a>
                              </li><li>
                                <a href="#">
                                  <div class="msg-img"><div class="online on"></div><img class="img-circle" src="../images/user.png" alt=""></div>
                                    <p class="msg-name">Sandra Smith</p>
                                    <p class="msg-text">Hey ! I'm working on your project</p>
                                    <p class="msg-time">3 minutes ago</p>
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-bell"></i><span class="badge badge-success pull-right">4</span></a></li>
                        <li>
                          <a href="#" data-toggle="dropdown">
                            <span class="user-name"><strong>Welcome <%= user.local.username %></strong></span>
                            <img class="img-circle avatar" src="<%= user.local.picture %>" width="40" height="40" alt="">
                            </a>
                          </li>
                          <li> <a href="/logout" class="log-out"> <span><i class="fa fa-sign-out m-r-xs"></i>Log Out</span> </a> </li>
                        </ul>
                      </section>
                    </div>
                  </nav>
                </div>
