<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
	<title>SwahiliBox</title>
    <style type="text/css">
        #create{width: 150px;}
        #delete{width: 150px;}
        #update{width: 150px;}
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" ></script>
 </head>
 <body ng-app="mainApp" ng-controller="myController">
     <marquee><h2>Welcome | SwahiliBox Events </h2></marquee>
    
    <div class="read">
       <ul>
          <li ng-repeat="event in events">
           {{ event._id + " " + event.title + " " +event.venue + " " + event.date + " " + event.time }}</li>
       </ul>

       <script type="text/javascript">
            var app = angular.module("mainApp", []);
            app.controller("myController", function($scope, $http){
                $http.get("/events")
                .then(function(response){
                    console.log(response);
                    $scope.events = response.data;
                });
            });
        </script>
    </div>

     <div class="create">
       <fieldset id="create">
         <legend style="font-weight:bold">CREATE</legend>
           <form method="post" action="/insert">
             	Event Title: <input type="text" name="title">
             	Event Venue: <input type="text" name="venue">
             	Event Date: <input type="text" name="date">
             	Event Time: <input type="text" name="time">
             	RSVP: <input type="checkbox" name="rsvp" value="true">
             	<input type="submit" style="background-color:green" name="submit" value="Create">
           </form>
       </fieldset>
       </div>

       <div class="update">
       <fieldset id="update">
         <legend style="font-weight:bold">UPDATE</legend>
           <form method="post" action="/update">
                Event Id: <input type="text" name="id">
                Event Title: <input type="text" name="title">
                Event Venue: <input type="text" name="venue">
                Event Date: <input type="text" name="date">
                Event Time: <input type="text" name="time">
                <input type="submit" style="background-color:blue" name="submit" value="Update">
           </form>
       </fieldset>
       </div>

       <div id="delete">
       <fieldset id="delete">
          <legend style="font-weight:bold">DELETE</legend>
           <form method="post" action="/delete">
                Event Id: <input type="text" name="id">
                <input type="submit" style="background-color:red" name="submit" value="Delete">
           </form>
       </fieldset>
       </div>

  </body>
</html>
