<% layout('dashboard') %>
<div class="container well">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><b>ADD EVENTS</b></div>
      <form id="Events-form" method="post" class="form-horizontal" action="/insert">
        <label class="col-md-2 control-label" for="Event Title">Title</label>
        <div class="col-md-4 ">
          <input type="text" required class="form-control" id="Event Title" name="title"/>
        </div>
        <label class="col-md-2 control-label" for="Event venue">Venue</label>
        <div class="col-md-4 ">
          <input type="text" required class="form-control" id="Event venue" name="venue"/>
        </div>
        <label class="col-md-2 control-label" for="Event Description">Description</label>
        <div class="col-md-4 ">
          <input type="text" required class="form-control" id="Event Description" name="desc"/>
        </div>
        <label class="col-md-2 control-label" for="Event date">Date</label>
        <div class="col-md-4 ">
          <input type="text" required class="form-control" id="Event Date" name="date"/>
        </div>
        <label class="col-md-2 control-label" for="Event time">Time</label>
        <div class="col-md-4 ">
          <input type="text" required class="form-control" id="Event Time" name="time"/>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <button type="Create"class="btn btn-success"><li><i class="fa-li fa fa-spinner fa-spin"></i>CREATE</button>
      </div>
    </div>
  </form>
