<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
  <title>Swahili Box</title>
    <style type="text/css">
        .btn{
          margin-top: 5px;
        }
        .jumbotron{
         margin-bottom: 30px;
        }
        #text{
          margin-right: 10px;
        }

       #create{width: 100px;}
        #delete{width: 100px;}
        #update{width: 100px;}
    </style>
    <style>
        body { padding-top:0px;
          word-wrap:break-word;
          background: #365f88!important;
             }
    </style>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

 </head>
 <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome | SwahiliBox Events</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/events" target="_blank"><span class="glyphicon glyphicon-star"></span>View events</a></li>
      <li><a href="/signup" target="_blank"><span class="glyphicon glyphicon-user"></span>Sign Up other admin</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
 <div class="">
   <div class="container well">
 <body ng-app="mainApp" ng-controller="myController">

       <script type="text/javascript">
            var app = angular.module("mainApp", []);
            app.controller("myController", function($scope, $http){
                $http.get("/events")
                .then(function(response){
                    console.log(response);
                    $scope.events = response.data;
                });
            });
        </script>
      </div>
</div>
  <div class="container well">
      <div class="row">
         <div class="panel panel-default">
          <div class="panel-heading"><b>ADD EVENTS</b></div>
          <form id="Events-form" method="post" class="form-horizontal" action="/insert">
           <label class="col-md-2 control-label" for="Event Title">Title</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event Title" name="title"/>
          </div>
              <label class="col-md-2 control-label" for="Event venue">Venue</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event venue" name="venue"/>
          </div>
              <label class="col-md-2 control-label" for="Event Description">Description</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event Description" name="desc"/>
          </div>
              <label class="col-md-2 control-label" for="Event date">Date</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event Date" name="date"/>
          </div>
        <label class="col-md-2 control-label" for="Event time">Time</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event Time" name="time"/>
          </div>
            </div>
             </div>
         <div class="col-md-6 col-md-offset-2">
           <button type="Create"class="btn btn-success"><li><i class="fa-li fa fa-spinner fa-spin"></i>CREATE</button>
            </div>
              </div>
           </form>
 <div class="container well">
      <div class="row">
         <div class="panel panel-default">
          <div class="panel-heading"><b>UPDATE EVENT</b></div>
          <form id="Events-form" method="post" class="form-horizontal" action="/update">
             <label class="col-md-2 control-label" for="Event id">Id</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event id" name="id"/>
          </div>
           <label class="col-md-2 control-label" for="Event Title">Title</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event Title" name="title"/>
          </div>
              <label class="col-md-2 control-label" for="Event venue">Venue</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event venue" name="venue"/>
          </div>
              <label class="col-md-2 control-label" for="Event Description">Description</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event Description" name="desc"/>
          </div>
              <label class="col-md-2 control-label" for="Event date">Date</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event Date" name="date"/>
          </div>
        <label class="col-md-2 control-label" for="Event time">Time</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event Time" name="time"/>
          </div>
            </div>
             </div>
         <div class="col-md-6 col-md-offset-2">
           <button type="Create"class="btn btn-primary btn-warning"><i class="fa fa-info-circle"></i>UPDATE</button>
            </div>
              </div>
           </form>
<div class="container well">
      <div class="row">
         <div class="panel panel-default">
          <div class="panel-heading"><b>DELETE EVENT</b></div>
          <form id="Events-form" method="post" class="form-horizontal" action="/delete">
             <label class="col-md-2 control-label" for="Event id">Id</label>
           <div class="col-md-4 ">
        <input type="text" required class="form-control" id="Event id" name="id"/>
          </div>
  </div>
 </div>
         <div class="col-md-6 col-md-offset-2">
           <button type="Create"class="btn btn-primary btn-danger"><i class="fa fa-trash"></i>DELETE</button>
            </div>
              </div>
            </form>
     </div>
     </div>
     </div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" ></script>
</body>
</html>
