<!doctype html>
<html>
<head>
    <title>Swahili Box</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
     <style>
        body { padding-top:80px; 
          word-wrap:break-word;
          background: #808080 !important;
             }
    </style>
</head>


<% include partials/masthead %>
<body>
  <!--header starts -->
  <header>
    <!--sticky navigation starts -->
    <% include partials/navbar %>
    <!--sticky navigation ends -->
    <!--call to action section starts -->
    <% include partials/cta %>
    <!--call to action ends -->
  </header>
    <div class="clearfix"></div>
    <!--header ends -->
    <!-- special offer section starts -->
    <%= include includes/offer %>
    <!-- spectial offer section ends -->
    <!-- upcoming events section starts  -->
    <% include includes/upcoming %>
    <!-- upcoming events section ends -->
    <!-- footer section starts -->
    <% include partials/footer %>
    <!-- footer section ends -->
    <!--start of javascripts-->
    <div class="clearfix"></div>
    <% include partials/footer_scripts %>
    <!--end of javascripts-->
  </body>
</html>
