<% include partials/masthead %>
<body>
  <!--header starts -->
  <header>
    <!--sticky navigation starts -->
    <% include partials/navbar %>
    <!--sticky navigation ends -->
    <!--call to action section starts -->
    <% include partials/cta %>
    <!--call to action ends -->
  </header>
    <div class="clearfix"></div>
    <!--header ends -->
    <% include includes/upcoming %>
    <!--start of javascripts-->
    <div class="clearfix"></div>
    <% include partials/footer_scripts %>
    <!--end of javascripts-->
  </body>
</html>
