
<!doctype html>
<html>
<head>
    <title>Space</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
     <style>
        body { padding-top:80px; 
          word-wrap:break-word;
          background: #808080 !important;
             }
    </style>
</head>

<body background="swahili.jpg">
<div class="page-header text-right">	
<a href="/admin" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
</div>
<div class="container">

    <div class="jumbotron text-center">
     <p><h1><strong>Welcome to the swahilibox admin portal</strong></h1></p>
    </div>
</div>
</body>
</html>

