<!DOCTYPE html>
<html>
<head>
<title>login</title>
</head>
<body>
<form method="post" action="http://192.168.1.100:3000/users/login">
<input type="text" class="form-control" name="username" placeholder="username"/>
<input type="password" class="form-control" name="password" placeholder="password"/>
<button type="submit" class="btn btn-default">submit</button>
</form>
</body>
</html>
