<!doctype html>
<html>
<head>
    <title>Swahili Box</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; 
          word-wrap:break-word;
          background: #808080 !important;
             }
    </style>
</head>

<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Swahili Box Admin</h1>
    </div>
    <div class="page-header text-right">
   <a href="/eventsrecords" class="btn btn-default"><span class="fa fa-user"></span>Event Records</a>
    <a href="/signup" class="btn btn-default btn-sm">Sign Up other admin</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
</body>
</html>

