<h1>Google Login page</h1>
  <p>
      <strong>id</strong>: <%= user.google.id %><br>
      <strong>token</strong>: <%= user.google.token %><br>
      <strong>email</strong>: <%= user.google.email %><br>
      <strong>name</strong>: <%= user.google.name %>
  </p>
