<h1>Facebook profie</h1>
    <p>
        <strong>id</strong>: <%= user.facebook.id %><br>
        <strong>token</strong>: <%= user.facebook.token %><br>
        <strong>email</strong>: <%= user.facebook.email %><br>
        <strong>name</strong>: <%= user.facebook.name %>
    </p>

        
