<<<<<<< HEAD
=======
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>

<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Swahili Box Admin</h1>
    </div>
    <div class="page-header text-right">
    <a href="/eventsrecords" class="btn btn-default"><span class="fa fa-user"></span>Event Records</a>
    <a href="/signup" class="btn btn-default btn-sm">Sign Up other admin</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="page-header text-left">
    <p><strong> Welcome <%= user.local.email %>!</strong></p>
    </div>
    <p>
       <table style="width:100%">
         <tr>
            <th><h3>First Name</h3></th>
            <th><h3>Second Name</h3></th>
            <th><h3>Email</h3></th>
            <th><h3>Events</h3></th>
         </tr>
           <tr>
              <td><strong>Jill</td>
              <td><strong>Smith</td>
              <td><strong>smith@gmail.com</td>
              <td><strong>IOT </td>
           </tr>
           <tr>
             <td><strong>calvin</td>
             <td><strong>klein</strong></td>
             <td><strong>klein@gmail.com</strong></td>
             <td><strong>freecode</strong> </td>
           </tr>
           <tr>
             <td><strong>john</strong></td>
             <td><strong>legend</strong></td>
             <td><strong>legend@gmail.com</strong></td>
             <td><strong>code challenge </strong></td>
           </tr>
           <tr>
             <td><strong>alex</strong></td>
             <td><strong>murphy</strong></td>
             <td><strong>murphy@gmail.com</strong></td>
             <td><strong>code challenge </strong></td>
           </tr>
           <tr>
             <td><strong>jack</strong></td>
             <td><strong>jill</strong></td>
             <td><strong>jill@gmail.com</strong></td>
             <td><strong>code challenge </strong></td>
           </tr>
           <tr>
             <td><strong>jason</strong></td>
             <td><strong>statham</strong></td>
             <td><strong>statham@gmail.com</strong></td>
             <td><strong>freecode </strong></td>
           </tr>
           <tr>
             <td><strong>chops</strong></td>
             <td><strong>chooks</strong></td>
             <td><strong>chooks@gmail.com</strong></td>
             <td><strong>code challenge </strong></td>
           </tr>
           <tr>
             <td><strong>charlie</strong></td>
             <td><strong>puth</strong></td>
             <td><strong>puth@gmail.com</strong></td>
             <td><strong>free code </strong></td>
           </tr>
           <tr>
             <td><strong>nick</strong></td>
             <td><strong>jonas</strong></td>
             <td><strong>jonas@gmail.com</strong></td>
             <td><strong>code challenge </strong></td>
           </tr>
        </table>
    </p>
</div>

</body>
</html>
>>>>>>> b3fb236e39c14c5ee9ff98905cf78166e5a960e3
