<% include partials/masthead %>
<body class="admin">
<div class="container">
<div class="row collapse">
  <div class="large-3 medium-12 columns">
  <aside class="sidebar">
  <div class="sidebar-logo">
  <h1>eventr</h1>
  </div>
    <ul class="nav">
      <li><a href="#"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Manage Events</a></li>
      <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Manage Users</a></li>
      <li><i class="fa fa-lock" aria-hidden="true"></i><a href="#">admin@eventr.org</a></li>
      <li><i class="fa fa-sign-out" aria-hidden="true"></i><a href="#">logout</a></li>
    </ul>
  </aside>
  </div>
  <div class="large-9 medium-12 columns">
  <div class="toolbar">
  <div class="row">
  <div class="large-8 columns">
    <form class="sign-up-form" action="#" method="post" novalidate="novalidate">
      <div class="row collapse">
        <div class="small-8 medium-8 columns">
        <input id="fieldEmail" name="email" type="email" placeholder="signup@example.com">
        </div>
        <div class="small-4 medium-4 columns">
        <input type="submit" href="#" class="postfix button" value="Sign Up">
        </div>
      </div>
    </form>
  </div>
  <div class="large-4 columns">
  <a class="large button add-button" href="">Add New</a>
  </div>
  </div>
  </div>
  <div class="main-content">
    <h1>Manage Events</h1>
    <div class="events">

    <!-- event details starts -->
    <div class="event-details">
      <div class="row">
      <div class="large-10 columns">
        7/24 Everytime Event
      </div>
      <div class="large-2 columns">
        <li><i class="fa fa-pencil-square" aria-hidden="true"></i> <a href="#">Edit </a> </li>
        <li><i class="fa fa-trash" aria-hidden="true"></i> <a href="#">Delete </a> </li>
      </div>
      </div>
    </div>
    <!-- event details ends -->

    <!-- event details starts -->
  <div class="event-details">
  <div class="row">
    <div class="large-10 columns">
      7/24 Everytime Event
    </div>
    <div class="large-2 columns">
      <li><i class="fa fa-pencil-square" aria-hidden="true"></i> <a href="#">Edit </a> </li>
      <li><i class="fa fa-trash" aria-hidden="true"></i> <a href="#">Delete </a> </li>
    </div>
    </div>
    </div>
    <!-- event details ends -->

    <!-- event details starts -->
  <div class="event-details">
  <div class="row">
    <div class="large-10 columns">
      7/24 Everytime Event
    </div>
    <div class="large-2 columns">
      <li><i class="fa fa-pencil-square" aria-hidden="true"></i> <a href="#">Edit </a> </li>
      <li><i class="fa fa-trash" aria-hidden="true"></i> <a href="#">Delete </a> </li>
    </div>
    </div>
    </div>
    <!-- event details ends -->

    <!--form -->
    <div class="form-content">
    <div class="signup-form">
    <div class="wrapper">
      <div class="row">
        <div class="large-6 large-offset-6 columns">
        <div class="row">
          <h1>Login Now</h1>
        </div>
                <form method="post">
            <div class="row">
            <label for="email">Email Address</label>
              <input class="form-control" id="email" type="email" name="email" placeholder="email address">
            </div>
            <div class="row">
            <label for="password">Password </label>
              <input class="form-control" id="password" type="password" name="password" placeholder="password">
            </div>
            <div class="row">
              <button type="submit" class="button success">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- form ends -->

  </div>
  </div>
</div>
</div>
</body>
</html>
