<% layout('secure-forms') %>
<div class="signup-form">
<div class="wrapper">
  <div class="row">
    <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <h2>Signup Now</h2>
      </div>
    </div>
    <% if (message.length > 0) { %> 
    <div class="row">
      <div data-alert class="alert-box warning ">
        <%= message %>
        <a href="#" class="close">&times;</a>
      </div>
    </div>
    <% } %>
    <form action="/signup" method="post">
        <div class="row">
        <div class="large-12 columns">
          <label for="name"> Username</label>
            <input class="form-control" id="name" type="text" name="name" placeholder="username">
        </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label for="email">Email Address</label>
              <input class="form-control" id="email" type="email" name="email" placeholder="email address">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label for="password">Password </label>
              <input class="form-control" id="password" type="password" name="password" placeholder="password">
          </div>
        </div>
        <div class="row">
          <div class="large-6 small-12 columns">
            <button type="submit" class="button success">Register</button>
          </div>
          <div class="large-6 small-12 columns">
          <p class="registered">Already Registered? <a href="/login">Login</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
