<% layout('dashboard') %>
<div class="container well">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><b>UPDATE EVENT</b></div>
      <form id="Events-form" method="post" class="form-horizontal" action="/update">
        <div class="row">
         <div class="large-12 columns">
           <% if ( message.length > 0 ) { %>
           <div data-alert class="alert-box warning ">
             <%= message %>
           </div>
            <% } %>
          </div>
        </div>
        <div class="row">
         <div class="large-12 columns">
           <div data-alert class="alert-box warning ">
            Are you sure you want to update this event?.Please confirm the title if you are.
           </div>
          </div>
        </div>

        <label class="col-md-2 control-label" for="Event Title">Title</label>
        <div class="col-md-4 ">
          <input type="text" required class="form-control" id="Event Title" placeholder="Title here" name="title"/>
        </div>
        <label class="col-md-2 control-label" for="Event venue">Venue</label>
        <div class="col-md-4 ">
          <input type="text" required class="form-control" id="Event venue" placeholder="Venue here" name="venue"/>
        </div>
        <label class="col-md-2 control-label" for="Event Description">Description</label>
        <div class="col-md-4 ">
          <input type="text" required class="form-control" id="Event Description" placeholder="Description here" name="desc"/>
        </div>
        <label class="col-md-2 control-label" for="Event date">Date</label>
        <div class="col-md-4 ">
          <input type="text" required class="form-control" id="Event Date" placeholder="Date here" name="date"/>
        </div>
        <label class="col-md-2 control-label" for="Event time">Time</label>
        <div class="col-md-4 ">
          <input type="text" required class="form-control" id="Event Time" placeholder="Time here" name="time"/>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <button type="Create"class="btn btn-primary btn-warning"><i class="fa fa-info-circle"></i>UPDATE</button>
    </div>
  </div>
</form>
<script type="text/javascript">
     var app = angular.module("mainApp", []);
     app.controller("myController", function($scope, $http){
         $http.get("/events")
         .then(function(response){
             console.log(response);
             $scope.events = response.data;
         });
     });
 </script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" ></script>
