<% layout('dashboard') %>
<form id="Events-form" method="post" class="form-horizontal" action="/update">
  <div class="row">
   <div class="small-8 columns small-offset-1">
           <div data-alert class="alert-box warning ">
            Are you sure you want to update this event?.Please confirm the title if you are.
           </div>
      
        <div class="row">
        <div class="small-3 columns">
        <label for="Event Title">Title</label>
        </div>
         <div class="small-9 columns">
          <input type="text" required class="form-control" id="EventTitle" name="title"/>
        </div>
        </div>

        <div class="row">
        <div class="small-3 columns">
      <label for="Event Venue">Venue</label>
        </div>
         <div class="small-9 columns">
          <input type="text" required class="form-control" id="Eventvenue" name="venue"/>
        </div>
         </div>

        <div class="row">
        <div class="small-3 columns">
        <label for="Event Description">Description</label>
         </div>
         <div class="small-9 columns">
          <input type="text" required class="form-control" id="EventDescription" name="desc"/>
        </div>
        </div>

        <div class="row">
        <div class="small-3 columns">
       <label for="Event Date">Date</label>
        </div>
          <div class="small-9 columns">
          <input type="text" required class="form-control" id="EventDate" name="date"/>
        </div>
        </div>

        <div class="row">
        <div class="small-3 columns">
 <label for="Event Time">Time</label>
        </div>
         <div class="small-9 columns">
          <input type="text" required class="form-control" id="EventTime" name="time"/>
        </div>
    </div>

 <div class="row">
    <div class="large-6 small-12 columns large-offset-4 ">
      <button type="Create"class="button primary small radius">UPDATE</button>
   </div>
   </div>
   </div>
  </form>
<script type="text/javascript">
     var app = angular.module("mainApp", []);
     app.controller("myController", function($scope, $http){
         $http.get("/events")
         .then(function(response){
             console.log(response);
             $scope.events = response.data;
         });
     });
 </script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" ></script>
