.top-bar{
}

.hero{
  padding: 5em 0;
  margin: 0 auto;
}

/*sign up form styling */
.signup-form{
  padding: 3em 0;
}

/*footer styling*/
footer{
  width: 100%;
  padding: 3em 0;
  border-top: 1px solid #efefef;
}

.row{
  max-width: 82.5rem;
}
