body, html{
  height: 100%;
  width: 100%;
}
body.f-topbar-fixed{
  padding-top: 0 !important;
}
.row{
  max-width: 74%;
  @media only screen and (max-width: 768px){
    max-width: 90%;
  }
}
/* ------------------------------------------------------
 * topbar navigation styling section
 * -----------------------------------------------------*/
.top-bar{
  background: transparent;
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  li{
    &.name{
      height: 60px;
      h1{
        line-height: 60px;
        font-size: 2rem;
        font-family: 'LatoWebBold', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        a{
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          &:hover{
            color: #f47920;
          }
        }
      }
    }
  }
  li{
    &.toggle-topbar{
      span{
        font-size: 1.4em;
      }
    }
  }
  @media only screen and (max-width: 640px){
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  &.expanded{
    margin-top: 0px !important;
  }
}
.top-bar-section{
  ul{
    background: transparent;
    li{
      background: transparent;
      padding: 0 15px;
      &:not(.has-form){
        a{
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          &:not(.button){
            line-height: 60px;
            background: transparent;
            position: relative;
            display: block;
            font-size: 0.9em;
            padding: 0;
            &:hover{
              background: transparent;
              color: #f47920;
              &:after{
                opacity: 1;
                -webkit-transform: translateY(-2px);
                -ms-transform: translateY(-2px);
                transform: translateY(-2px);
                top: 95%;
              }
            }
            &:after{
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 2px;
              background: #f47920;
              content: '';
              opacity: 0;
              -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
              transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
              -webkit-transform: translateY(5px);
              -ms-transform: translateY(5px);
              transform: translateY(5px);
            } 
            @media only screen and (max-width: 640px){
              line-height: 30px;
              background: rgba(0,0,0, .5);
              text-align: center;
              padding: 10px 0;
            }
          }
        }
      }
      a{
        text-transform: uppercase;
        &:hover{
          background: transparent;
        }
      }
      @media only screen and (max-width: 640px){
        padding: 0;
      }
    }
  }
}
/* ------------------------------------------------------
 * header styling 
 * -----------------------------------------------------*/
header{
  background: url('../images/hero.jpg');
  height: 100%;
  background-size: cover;
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(31, 81, 139, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
  }
  @media only screen and (max-width: 768px){
    height: 80%;
  }
}
/* ------------------------------------------------------
 * call to action section  
 * -----------------------------------------------------*/
.call-to-action{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  .content{
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    max-width: 60%;
    aling-self: auto; 
    z-index: 10;
    text-align: center;
    @media only screen and (max-width: 768px){
      max-width: 92%;
    }
    h1{
      color: #fff;
      /*text-transform: lowercase;*/
      font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 3em;
      @media only screen and (max-width: 768px){
        font-size: 2em;
      }
    }
    p{
      color: #fff;
      font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1.3em;
    }
  }
  .button{
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 40px;
    margin-top: 20px;
    -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    &:hover{
      background-color: #f47920;
      padding: 15px 45px;
      border-color: #f47920;
    }
    &.cta{
      text-transform: uppercase;
      font-family: 'LatoWeb', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-style: normal;
      font-size: 16px;
      text-decoration: none;
      display: inline-block;
      @media only screen and (max-width: 768px){
        font-size: 12px;
      }
    }
  }
}
/* ------------------------------------------------------
 * promotion section  
 * -----------------------------------------------------*/
.promotion{
  width: 100%;
  padding: 3em 0;
  .promote{
    border: 4px solid #fff;
    border-top: none;
    @extend .call-to-action;
    .content{
      h2.title{
        font-weight: 900;
        margin-top: -19px;
        position: relative;
        span{
          display: inline-block;
          padding: 0px 20px;
        }
      }
      p{
        color: #000;
      }
      @media only screen and (max-width: 1024px){
        width: 100%;
      }
    }
    .button{
      background-color: #f47920;
      border: none;
      &:hover{
        border: none;
      }
    }
  }
}

/* ------------------------------------------------------
 * home upcoming events styling
 * -----------------------------------------------------*/
.upcoming{
  padding: 80px 0;
  background: #315d8e;
  .event-container{
    background: #fff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    .event{
      &.add_bg_hover{
        color: #fff;
        border-color: #fff;
        padding: 1.5em 0;
        &:hover{
          background: #5ab4e6;
          color: #fff;
          cursor: pointer;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          .eventsicon{
            border: 1px solid #fff;
            i{
              color: #fff;
            }
          }
          .event-content{
            h2{
              color: #fff;
            }
            p{
              color: #fff;
            }
          }
        }
      }
      .eventsicon{
        border: 1px solid #5ab4e6;
        width: 100px;
        height: 100px;
        font-size: 45px;
        line-height: 100px;
        text-align: center;
        margin: 25px auto 0px;
        display: inline-block;
        i{
          color: #5ab4e6;
        }
      }
      .event-content{
        padding: 15px 10px;
        font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        h2{
          color: #000;
          font-family: 'LatoWeb', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          &.title{
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
          }
        }
        p{
          color: #000;
        }
      }
    }
  }
}
/*--------------------------------------------------------
 * footer section styling 
 *--------------------------------------------------------*/
footer{
  background: #303840;
  zoom: 1;
  .footer-top{
    zoom: 1;
    background: #22272d;
    height: 100px;
    z-index: 5;
    .wrapper{
      margin: 0 auto;
      width: 76%;
    }
    .row{
      max-width: 100%;
    }
    .logo{
      font-family: 'LatoWeb', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 26px;
      width: 110px;
      height: 30px;
      left: 20px;
      color: #fff;
      z-index: 500;
      top: 10px;
      span{
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
      }
    }
    .cta{
      text-transform: uppercase;
      font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      text-decoration: none;
      -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
      display: inline-block;
      float: right;
      margin-top: 25px;
    }
    .button{
      border-radius: 0;
      background-color: #f47920;
      color: #fff;
      border: 1px solid transparent;
      &:hover{
        background-color: #000;
        border: 1px solid #fff;
      }
    }
    .footer-top-container{
      line-height: 100px;
    }
  }
  .footer-wrapper {
    background: #303840;
    color: #fff;
    padding: 50px 0;
    position: relative;
    z-index: 5;
  }
  .footer-nav {
    zoom: 1;
    float: left;
    width: 40%;
    display: inline-block;
    background: transparent !important;
    &:before, &:after{
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    ul{
      font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      padding-left: 0;
      float: left;
      width: 45%;
    }
    li{
      margin-bottom: 20px;
      display: block;
    }
    a{
      color: #fff;
      text-decoration: none;
      &:hover{
        color: #f47920;
      }
    }
    @media (max-width: 960px){
      width: 45%;
    }
    @media (max-width: 800px){
      display: none;
    }
  }
  .footer-engage {
    float: right;
    width: 45%;
    display: inline-block;
    text-align: right;
    margin-bottom: 75px;
    @media (max-width: 960px){
      width: 50%;
    }
    @media (max-width: 800px){
      width: 100%;
      margin-bottom: 20px;
    }
    p{
      @media (max-width: 800px){
        text-align: center;
      }
    }
  }
  .sign-up-form {
    zoom: 1;
  }
  .sign-up-form:before, .sign-up-form:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .sign-up-form:after {
    clear: both;
  }
  .sign-up-form .field {
    float: left;
    width: 38%;
  }
  .sign-up-form .field:nth-child(1) {
    border-right: 1px solid #e5e7e9;
  }
  .sign-up-form label {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  .sign-up-form input {
    width: 100%;
    padding: 10px;
  }
  .sign-up-form button {
    float: right;
    width: 22%;
    padding: 11px 10px;
    background: none;
    border: 1px solid #f47920;
    color: #f47920;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  .sign-up-form button:hover {
    border-color: #fff;
    color: #fff;
  }
  .sign-up-form label.error {
    position: absolute;
    overflow: visible;
    clip: auto;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    left: 0;
    top: 46px;
    font-size: 12px;
    text-align: left;
    margin: 0;
    color: white;
  }
  @media (max-width: 800px) {
    .sign-up-form .field:nth-child(1) {
      width: 100%;
      margin-bottom: 5px;
      border-right: 0;
    }
    .sign-up-form .field:nth-child(2) {
      width: 60%;
    }
    .sign-up-form button {
      width: 39%;
    }
    .sign-up-form .field input.error {
      margin-bottom: 35px;
    }
  }
  p.copyright {
    font-family: 'LatoWebLight', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    clear: both;
    margin-bottom: 0;
    text-align: center;
  }
  p.copyright a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }
  p.copyright a:hover, p.copyright a:active {
    color: #3597eb;
  }
  @media (max-width: 800px) {
    p.copyright {
      text-align: center;
    }
  }
  .wrapper{
    margin: 0 auto;
    width: 74%;
  }
}
.social-links{
  font-size: 1.2em;
  li{
    display: inline;
    padding: 0 0.2em 0 0;
    a{
      color: #fff;
      i{
        padding-right: 0.6em;
      }
    }
  }
}
.footer-headline{
  padding-top: 30px;
  h2{
    font-size: 1.3em;
    color: #305081;
  }
}
.events-ticker{
  padding-top: 15px;
  .event-title{
    padding-top: 18px;
    text-align: center;
    color: #565b60;
  }
  .orbit-container{
    .orbit-prev{
      &>span{
        border-color: transparent #565b60 transparent transparent;
      }
    }
    .orbit-next{
      &>span{
        border-color: transparent transparent transparent #565b60;
      }
    }
  }
}
.sign-up-form{
  input[type="text"], input[type="email"], input[type="tel"], textarea{
    font-family: 'LatoWeb', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: #e5e7e9;
    width: 100%;
    padding: 20px;
    border: 1px solid transparent;
    -webkit-transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  .postfix{
    height: 2.6125rem;
  }
}
/* ------------------------------------------------------
 *  admin panel section styling 
 * -----------------------------------------------------*/
.admin{
  .sidebar{
    height: 100vh;
    padding: 10px 20px;
    background: #272727;
    .nav{
      li{
        color: #fff;
        list-style: none;
        padding: 5px 0;
        text-transform: uppercase;
        i{
          padding-right: 5px;
          font-size: 1em;
        }
        a{
          color: #fff;
        }
      }
    }
    .sidebar-logo{
      h1{
        color: #fff;
        font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding-left: 20px;
      }
    }
  }
  .row{
    max-width: 100%;
  }
}
/* ------------------------------------------------------
 *  admin main contente section  
 * -----------------------------------------------------*/
.main-content{
  padding: 30px;
  .events{
    li{
      display: inline;
      padding-right: 10px;
    }
  }
}
.toolbar{
  background: #000;
  height: 100px;
  line-height: 100px;
  .sign-up-form{
    margin-top: 25px;
  }
  .add-button{
    padding: 10px 25px 10px 25px; 
    float: right;
    margin-top: 25px;
  }
}
/* ------------------------------------------------------
 * secure panel section & sign up forms
 * -----------------------------------------------------*/
.secure-panel{
  background: rgba(31, 81, 139, 0.9);
  .container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 24em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    .content{
      -webkit-box-flex: 0;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
      max-width: 60%;
      aling-self: auto; 
      z-index: 10;
      text-align: center;
      @media only screen and (max-width: 768px){
        max-width: 92%;
      }
      h1{
        color: #000;
        text-transform: lowercase;
        font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 3em;
        @media only screen and (max-width: 768px){
          font-size: 2em;
        }
      }
      p{
        color: #000;
        font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1.3em;
      }
    }
  }
  .signup-form{
    width: 35%;
    background: #fff;
    padding: 20px;
    p.registered{
      margin-top: 10px;
      float: right;
    }
    h2{
        font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    @media screen and (max-width: 1024px){
      width: 60%;
    }
    @media screen and (max-width: 768px){
      width: 80%;
    }
    @media screen and (max-width: 420px){
      width: 94%;
    }
  }
  .row{
    max-width: 100%;
  }
}
.edit-profile-form{
  @extend .signup-form;
  padding: 3em 0;
}
