<% include ../partials/masthead %>
<body>
    <!--header starts -->
    <div class="clearfix"></div>
    <!--header ends -->
    <!-- navbar starts -->
    <% include navbar %>
    <!-- navbar section ends -->
    <!-- upcoming events section starts  -->
    <% include upcoming %>
    <!-- upcoming events section ends -->
    <!-- footer section starts -->
    <% include ../partials/footer %>
    <!-- footer section ends -->
    <!--start of javascripts-->
    <div class="clearfix"></div>
    <% include ../partials/footer_scripts %>
    <!--end of javascripts-->
  </body>
</html>